<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="mapper.ObjectMapper">

	<insert id="insertObject">
		insert into object(code, status, name) values
		(#{code}, #{status}, #{name})
	</insert>

	<delete id="deleteObject">
		delete from object where code = #{code}
	</delete>

	<select id="showObject" resultType="domain.ObjectVO">
		select * from object where
		code = #{code}
	</select>

	<select id="showObjects" resultType="domain.ObjectVO">
		select * from object
	</select>

	<select id="showReqObjects" resultType="domain.ObjectVO">
		select * from object
		where status = "승인대기중"
	</select>
	
	<select id="showRentObjects" resultType="domain.ObjectVO">
		select * from object
		where status = "대여중"
	</select>

	<select id="showSamsungs" resultType="domain.ObjectVO">
		select *
		from object
		where
		name like "%삼성%"
	</select>

	<select id="showLGs" resultType="domain.ObjectVO">
		select *
		from object
		where name
		like "%LG%"
	</select>

	<select id="showMSIs" resultType="domain.ObjectVO">
		select *
		from object
		where name
		like "%MSI%"
	</select>

	<select id="showApples" resultType="domain.ObjectVO">
		select *
		from object
		where name
		like "%mac%"
	</select>

	<select id="showMyObjects" resultType="domain.ObjectVO"
		parameterType="domain.LoginVO">
		select *
		from object, User
		where object.userID =
		User.id and User.id = #{id}
	</select>

	<update id="updateObject" parameterType="domain.ObjectVO">
		update object set
		rentDate=#{rentDate}, returnDate=#{returnDate},
		status=#{status},userID=#{userID}, userPhone=#{userPhone}
		where
		code=#{code} and name=#{name}
	</update>
	
	<select id="checkObjects" resultType="domain.ObjectVO" >
		select * 
		from object
		where
		code=#{code}
		
	</select>

</mapper>